.navbar{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: hsla(250, 100%, 90%, 0.98);
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.5);
}
.navbar__right{
    display: flex;
    align-items: center;
}
.navbar__left > a{
    text-decoration: none;
}
.navbar__right > a{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 999px;
    text-decoration: none;
}
.navbar__right > :hover{
    background-color: black;
    color: white;
}
