.products{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 10px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    background-color: hsla(250, 100%, 95%, 0.98);
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.5);
    max-width: 1080px;
}